<!doctype html>
<html>
    <head>
        <title>Акт</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style>

            body {
                width: 180mm;
                margin-left: auto;
                margin-right: auto;
                font-size: 9pt;
            }

            table.invoice_bank_rekv { border-collapse: collapse; border: 1px solid; }
            table.invoice_bank_rekv > tbody > tr > td, table.invoice_bank_rekv > tr > td { border: 1px solid; }
            table.invoice_items { border: 1px solid; border-collapse: collapse;}
            table.invoice_items td, table.invoice_items th { border: 1px solid;}

        </style>
    </head>
    <body>
        
        
        <div style="font-weight: bold; font-size: 16pt; padding-left:5px; margin-top:50px;">
            Акт № {{INVOICE_NUMBER}} от {{INVOICE_DATE}} г.
        </div>
        
        <br/>
        
        <div style="background-color:#000000; width:100%; font-size:1px; height:2px;">
            &nbsp;
        </div>
        
        <table width="100%">
            <tr>
                <td style="width: 30mm;">
                    <div style=" padding-left:2px;">
                        Исполнтель:
                    </div>
                </td>
                <td>
                    <div style="font-weight:bold;  padding-left:2px;">
                        <b>{{INVOICE_COMPANY}}, ИНН {{INVOICE_INN}}, КПП {{INVOICE_KPP}}, {{INVOICE_ADDRESS}}, {{INVOICE_EMAIL}}, {{INVOICE_PHONE}}</b>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30mm;">
                    <div style=" padding-left:2px;">
                        Заказчик:
                    </div>
                </td>
                <td>
                    <div style="font-weight:bold;  padding-left:2px;">
                        <b>{{CLIENT_COMPANY}}, ИНН {{CLIENT_INN}}, КПП {{CLIENT_KPP}}, {{CLIENT_ADDRESS}}, {{CLIENT_EMAIL}}, {{CLIENT_PHONE}}</b>
                    </div>
                </td>
            </tr>
        </table>
        
        <table class="invoice_items" width="100%" cellpadding="2" cellspacing="2" style="margin-top: 15px;">
            <thead>
                <tr>
                    <th style="width:13mm;">№</th>
                    <th>Товары (работы, услуги)</th>
                    <th style="width:20mm;">Кол-во</th>
                    <th style="width:17mm;">Ед.</th>
                    <th style="width:27mm;">Цена</th>
                    <th style="width:27mm;">Сумма</th>
                </tr>
            </thead>
            <tbody>
                {{INVOICE_ITEMS}}
            </tbody>
        </table>
        
        <table border="0" width="100%" cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                    <td></td>
                    <td style="width:27mm; font-weight:bold;  text-align:right;">Итого:</td>
                    <td style="width:27mm; font-weight:bold;  text-align:right;">{{INVOICE_TOTAL_NUMBER}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight:bold;text-align:right;">{{INVOICE_NDS_10_STRING}}</td>
                    <td style="width:27mm;font-weight:bold;text-align:right;">{{INVOICE_NDS_10_VAL}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight:bold;text-align:right;">{{INVOICE_NDS_20_STRING}}</td>
                    <td style="width:27mm;font-weight:bold;text-align:right;">{{INVOICE_NDS_20_VAL}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight:bold;text-align:right;">{{INVOICE_NDS_NONE_STRING}}</td>
                    <td style="width:27mm;font-weight:bold;text-align:right;">{{INVOICE_NDS_NONE_VAL}}</td>
                </tr>
            </tbody>
        </table>
        
        <br />
        
        <div>
            Всего наименований {{INVOICE_TOTAL_ITEMS}} на сумму {{INVOICE_TOTAL_NUMBER}} рублей.
            <br />
            {{INVOICE_TOTAL_WORDS}}
        </div>
        
        <br />
        <br />
        
        <div style="background-color:#000000; width:100%; font-size:1px; height:2px;">
            &nbsp;
        </div>
        
        <br/>
        
        <img src="{{INVOICE_SIGN}}" style="position:absolute; width: 38mm;margin-top: -20px;margin-left:100px;z-index:1090;"/>

        <div>
            Руководитель ______________________ {{INVOICE_HEAD}}
        </div>

        <br/>
            
            <br/>
            
        <img src="{{INVOICE_SEAL}}" style="position:absolute; width: 38mm;margin-top: -80px;margin-left:100px;z-index:1099;"/>

        <div style="width: 85mm;text-align:center;">
                М.П.
            </div>
        
    </body>
