<!doctype html>
<html>
    <head>
        <title>Счет на оплату</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style>

            body {
                width: 180mm;
                margin-left: auto;
                margin-right: auto;
                font-size: 9pt;
            }

            table.invoice_bank_rekv { border-collapse: collapse; border: 1px solid; }
            table.invoice_bank_rekv > tbody > tr > td, table.invoice_bank_rekv > tr > td { border: 1px solid; }
            table.invoice_items { border: 1px solid; border-collapse: collapse;}
            table.invoice_items td, table.invoice_items th { border: 1px solid;}

        </style>
    </head>
    <body>
        
        <table width="100%" cellpadding="2" cellspacing="2" class="invoice_bank_rekv" style="margin-top: 50px;">
            <tr>
                <td colspan="2" rowspan="2" style="min-height:13mm; width: 90mm;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="height: 13mm;">
                        <tr>
                            <td valign="top">
                                <div>{{INVOICE_BANK_NAME}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" style="height: 3mm;">
                                <div style="font-size:10pt;">Банк получателя</div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="min-height:7mm;height:auto; width: 20mm;">
                    <div>БИK</div>
                </td>
                <td rowspan="2" style="vertical-align: top; width: 50mm;">
                    <div style=" height: 7mm; line-height: 7mm; vertical-align: middle;">{{INVOICE_BANK_BIK}}</div>
                    <div>{{INVOICE_BANK_CORR_ACCOUNT}}</div>
                </td>
            </tr>
            <tr>
                <td style="width: 25mm;">
                    <div>Сч. №</div>
                </td>
            </tr>

            <tr>
                <td style="min-height:6mm; height:auto; width: 45mm;">
                    <div>ИНН {{INVOICE_INN}}</div>
                </td>
                <td style="min-height:6mm; height:auto; width: 45mm;">
                    <div>КПП {{INVOICE_KPP}}</div>
                </td>
                <td rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 20mm;">
                    <div>Сч. №</div>
                </td>
                <td rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 50mm;">
                    <div>{{INVOICE_PAYMENT_ACCOUNT}}</div>
                </td>    </tr>    <tr>        <td colspan="2" style="min-height:13mm; height:auto;">
                    <table border="0" cellpadding="0" cellspacing="0" style="height: 13mm; width: 90mm;">
                        <tr>
                            <td valign="top">
                                <div>{{INVOICE_COMPANY}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" style="height: 3mm;">
                                <div style="font-size: 10pt;">Получатель</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        
        <br/>
        
        <div style="font-weight: bold; font-size: 16pt; padding-left:5px; margin-top:50px;">
            Счет № {{INVOICE_NUMBER}} от {{INVOICE_DATE}} г.
        </div>
        
        <br/>
        
        <div style="background-color:#000000; width:100%; font-size:1px; height:2px;">
            &nbsp;
        </div>
        
        <table width="100%">
            <tr>
                <td style="width: 30mm;">
                    <div style=" padding-left:2px;">
                        Поставщик:
                    </div>
                </td>
                <td>
                    <div style="font-weight:bold;  padding-left:2px;">
                        <b>{{INVOICE_COMPANY}}, ИНН {{INVOICE_INN}}, КПП {{INVOICE_KPP}}, {{INVOICE_ADDRESS}}, {{INVOICE_EMAIL}}, {{INVOICE_PHONE}}</b>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30mm;">
                    <div style=" padding-left:2px;">
                        Покупатель:
                    </div>
                </td>
                <td>
                    <div style="font-weight:bold;  padding-left:2px;">
                        <b>{{CLIENT_COMPANY}}, ИНН {{CLIENT_INN}}, КПП {{CLIENT_KPP}}, {{CLIENT_ADDRESS}}, {{CLIENT_EMAIL}}, {{CLIENT_PHONE}}</b>
                    </div>
                </td>
            </tr>
        </table>
        
        <table class="invoice_items" width="100%" cellpadding="2" cellspacing="2" style="margin-top: 15px;">
            <thead>
                <tr>
                    <th style="width:13mm;">№</th>
                    <th>Товары (работы, услуги)</th>
                    <th style="width:20mm;">Кол-во</th>
                    <th style="width:17mm;">Ед.</th>
                    <th style="width:27mm;">Цена</th>
                    <th style="width:27mm;">Сумма</th>
                </tr>
            </thead>
            <tbody>
                {{INVOICE_ITEMS}}
            </tbody>
        </table>
        
        <table border="0" width="100%" cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                    <td></td>
                    <td style="width:27mm; font-weight:bold;  text-align:right;">Итого:</td>
                    <td style="width:27mm; font-weight:bold;  text-align:right;">{{INVOICE_TOTAL_NUMBER}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight:bold;text-align:right;">{{INVOICE_NDS_10_STRING}}</td>
                    <td style="width:27mm;font-weight:bold;text-align:right;">{{INVOICE_NDS_10_VAL}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight:bold;text-align:right;">{{INVOICE_NDS_20_STRING}}</td>
                    <td style="width:27mm;font-weight:bold;text-align:right;">{{INVOICE_NDS_20_VAL}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight:bold;text-align:right;">{{INVOICE_NDS_NONE_STRING}}</td>
                    <td style="width:27mm;font-weight:bold;text-align:right;">{{INVOICE_NDS_NONE_VAL}}</td>
                </tr>
            </tbody>
        </table>
        
        <br />
        
        <div>
            Всего наименований {{INVOICE_TOTAL_ITEMS}} на сумму {{INVOICE_TOTAL_NUMBER}} рублей.
            <br />
            {{INVOICE_TOTAL_WORDS}}
        </div>
        
        <br />
        <br />
        
        <div style="background-color:#000000; width:100%; font-size:1px; height:2px;">
            &nbsp;
        </div>
        
        <br/>

        
        <img src="{{INVOICE_SIGN}}" style="position:absolute; width: 38mm;margin-top: -20px;margin-left:100px;z-index:1090;"/>

        <div>
            Руководитель ______________________ {{INVOICE_HEAD}}
        </div>
        
        <br/>
        
        <br/>
        
        
        <img src="{{INVOICE_SEAL}}" style="position:absolute; width: 38mm;margin-top: -80px;margin-left:100px;z-index:1099;"/>

        <div style="width: 85mm;text-align:center;">
            М.П.
        </div>
        
        <br/>
        
        <div style="width:800px;text-align:left;font-size:7pt;margin-top:25px;">
            Счет действителен к оплате в течение пяти рабочих дней.
        </div>
    
    </body>
</html>  