<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    <title>Расходная накладная ТОРГ-12</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style>

            body {
                width: 277mm;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: -25px;
                margin-bottom: -25px;
                margin-left: auto;
                margin-right: auto;
                font-size: 8pt;
                line-height: 0.85;
            }

            table.invoice_bank_rekv { border-collapse: collapse; border: 1px solid; }
            table.invoice_bank_rekv > tbody > tr > td, table.invoice_bank_rekv > tr > td { border: 1px solid; }
            table.invoice_items { border: 1px solid; border-collapse: collapse;}
            table.invoice_items td, table.invoice_items th { border: 1px solid;}
            .tr-center {text-align:center;}

        </style>
    </head>

    <body>

        <table border="0" style="width:100%;border:0px;">
            <tr>
                <td align="left" style="text-align: right;">
                    <div id="forma" class="editable_sys" edtype="textarea" style="font-size:5pt;">
                        Унифицированная форма № ТОРГ-12 Утверждена<br>постановлением Госкомстата России от 25.12.98 № 132
                    </div>
                </td>
            </tr>
        </table>

        <table border="0" style="width:100%;border:0px;">
            <tr>
                <td style="z-index:100;width:100%;">

                    <br />

                    {{INVOICE_COMPANY}}, ИНН {{INVOICE_INN}}, КПП {{INVOICE_KPP}}, {{INVOICE_ADDRESS}}, {{INVOICE_EMAIL}}, {{INVOICE_PHONE}}, р/с {{INVOICE_PAYMENT_ACCOUNT}}, в банке {{INVOICE_BANK_NAME}}, БИК {{INVOICE_BANK_BIK}}, к/с {{INVOICE_BANK_CORR_ACCOUNT}}       
                    
                    <div style="font-size:6.5pt;border-top:1px solid;text-align:center;height:15px;">
                        грузоотправитель, адрес, номер телефона, банковские реквизиты
                    </div>
                    
                    <div style="font-size:6.5pt;border-top:1px solid;text-align:center;">
                        структурное подразделение
                    </div>
                
                <br />
                <br />

                    <table width="100%">
                        <tr>
                            <td width="80" align="right">
                                Грузополучатель
                            </td>
                            <td style="border-bottom:1px solid;">
                                {{CLIENT_COMPANY}}, ИНН {{CLIENT_INN}}, КПП {{CLIENT_KPP}}, {{CLIENT_ADDRESS}}, {{CLIENT_EMAIL}}, {{CLIENT_PHONE}}, р/с {{CLIENT_PAYMENT_ACCOUNT}}, в банке {{CLIENT_BANK_NAME}}, БИК {{CLIENT_BANK_BIK}}, к/с {{CLIENT_BANK_CORR_ACCOUNT}}
                            </td>
                        </tr>
                        <tr>                                     
                            <td width="80" align="right">
                                Поставщик
                            </td>
                            <td style="border-bottom:1px solid;">
                                {{INVOICE_COMPANY}}, ИНН {{INVOICE_INN}}, КПП {{INVOICE_KPP}}, {{INVOICE_ADDRESS}}, {{INVOICE_EMAIL}}, {{INVOICE_PHONE}}, р/с {{INVOICE_PAYMENT_ACCOUNT}}, в банке {{INVOICE_BANK_NAME}}, БИК {{INVOICE_BANK_BIK}}, к/с {{INVOICE_BANK_CORR_ACCOUNT}}
                            </td>
                        </tr>       
                        <tr>
                            <td width="80" align="right">
                                Плательщик
                            </td>
                            <td style="border-bottom:1px solid;">
                                {{CLIENT_COMPANY}}, ИНН {{CLIENT_INN}}, КПП {{CLIENT_KPP}}, {{CLIENT_ADDRESS}}, {{CLIENT_EMAIL}}, {{CLIENT_PHONE}}, р/с {{CLIENT_PAYMENT_ACCOUNT}}, в банке {{CLIENT_BANK_NAME}}, БИК {{CLIENT_BANK_BIK}}, к/с {{CLIENT_BANK_CORR_ACCOUNT}}
                            </td>
                        </tr>         
                        <tr>
                            <td width="80" align="right">Основание</td>
                            <td style="border-bottom:1px solid;">Договор-оферта</td>
                        </tr>        
                        <tr>
                            <td width="80" align="right"></td>
                            <td valign="top" style="text-align: center; font-size: 6.5pt;">договор, заказ-наряд</td>
                        </tr>                   
                    </table>
                </td>

                <td align="right" valign="top">
                    
                    <br />

                    <div style="position:relative;z-index:0;margin-left: -50px;">
                        <div style="right:0px;width:180;z-index:2;">
                            <table border="0" cellpadding="0" cellspacing="0" width="180" style="background-color: transparent;">
                                <tr>
                                    <td colspan="2"></td>
                                    <td width="35" align="center" style="border:1px solid;">Коды</td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="right" style="padding-right:5px;">Форма по ОКУД</td>
                                    <td width="35" align="center" style="border:1px solid;border-left:2px solid;border-right:2px solid;">0330212</td>
                                </tr>  
                                <tr>
                                    <td colspan="2" align="right" style="padding-right:5px;height:25px;">по ОКПО</td>
                                    <td width="35" align="center" style="border:1px solid;border-top:0px;border-left:2px solid;border-right:2px solid;">&nbsp;</td>
                                </tr>   
                                <tr>
                                    <td colspan="2" align="right" style="padding-right:5px;height:25px;">&nbsp;</td>
                                    <td width="35" align="center" style="border:1px solid;border-top:0px;border-left:2px solid;border-right:2px solid;">&nbsp;</td>
                                </tr> 
                                <tr>
                                    <td colspan="2" align="right" style="padding-right:5px;height:25px;">Вид деятельности по ОКДП</td>
                                    <td width="35" align="center" style="border:1px solid;border-top:0px;border-left:2px solid;border-right:2px solid;">&nbsp;</td>
                                </tr>   
                                <tr>
                                    <td colspan="2" align="right" style="padding-right:5px;height:25px;vertical-align:middle;">по ОКПО</td>
                                    <td width="35" align="center" style="border:1px solid;border-top:0px;border-left:2px solid;border-right:2px solid;">&nbsp;</td>
                                </tr>    
                                <tr>
                                    <td colspan="2" align="right" style="padding-right:5px;height:25px;vertical-align:middle;">по ОКПО</td>
                                    <td width="35" align="center" style="border:1px solid;border-top:0px;border-left:2px solid;border-right:2px solid;">&nbsp;</td>
                                </tr>                      
                                <tr>
                                    <td colspan="2" align="right" style="padding-right:5px;height:25px;vertical-align:middle;">по ОКПО</td>
                                    <td width="35" align="center" style="border:1px solid;border-top:0px;border-left:2px solid;border-right:2px solid;">&nbsp;</td>
                                </tr>     

                                <tr>
                                    <td></td>
                                    <td width="35" align="right" style="padding-right:5px;border:1px solid;border-right:0px;">номер</td>
                                    <td width="35" align="center" style="border:1px solid;border-top:0px;border-left:2px solid;border-right:2px solid;">&nbsp;</td>
                                </tr>     
                                <tr>
                                    <td></td>
                                    <td width="35" align="right" style="padding-right:5px;border:1px solid;border-right:0px;border-top:0px;">дата</td>
                                    <td width="35" align="center" style="border:1px solid;border-top:0px;border-left:2px solid;border-right:2px solid;">&nbsp;</td>
                                </tr>     
                                <tr>
                                    <td align="left" style="padding-right:0px;">Транспортная накладная</td>
                                    <td width="35" align="right" style="padding-right:5px;border:1px solid;border-right:0px;border-top:0px;">номер</td>
                                    <td width="35" align="center" style="border:1px solid;border-top:0px;border-left:2px solid;border-right:2px solid;">&nbsp;</td>
                                </tr>     
                                <tr>
                                    <td></td>
                                    <td width="35" align="right" style="padding-right:5px;border:1px solid;border-right:0px;border-top:0px;">дата</td>
                                    <td width="35" align="center" style="border:1px solid;border-top:0px;border-left:2px solid;border-right:2px solid;">&nbsp;</td>
                                </tr>         
                                
                                
                                <tr>
                                    <td colspan="2" align="right" style="padding-right:5px;">Вид операции</td>
                                    <td width="35" align="center" style="border:1px solid;border-top:0px;border-left:2px solid;border-right:2px solid;border-bottom:2px solid;">&nbsp;</td>
                                </tr>                                                  
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table width="100%" style="position: absolute; margin-top: -20px; right: 200px;">
                        <tr>
                            <td align="right" width="50%">
                                ТОВАРНАЯ НАКЛАДНАЯ
                            </td>
                            <td align="left">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="100" style="border:1px solid;" align="center">
                                            <div id="nomerdoc_name" class="editable_sys" edtype="text" style="font-size:6.5pt;">
                                                Номер документа
                                            </div>
                                        </td>
                                        <td width="100" style="border:1px solid;border-left:0px;" align="center">
                                            <div id="datesoz_name" class="editable_sys" edtype="text" style="font-size:6.5pt;">
                                                Дата составления
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:2px solid;" align="center">
                                            <div id="nomerdoc" class="editable" edtype="text" style="font-size:10pt;font-weight:bold;">
                                                {{INVOICE_NUMBER}}
                                            </div>
                                        </td>
                                        <td align="center" style="border:2px solid;border-left:0px;">
                                            <div id="date_soz" class="editable" edtype="text" style="font-size:10pt;font-weight:bold;">
                                                {{INVOICE_DATE}}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td></td>
            </tr>
        </table>


        <br /><br />

        <table id="items" style="margin-top: 5px;" class="invoice_items" border="0" width="100%" cellpadding="0" cellspacing="0">
            <thead>

                <tr height="10" class="tr-center">
                    <td rowspan="2" height="12" width="20">Но-<br />мер<br />по по-<br />рядку</td>
                    <td colspan="2" height="12">Товар</td>
                    <td colspan="2" height="12">Единица измерения</td>   
                    <td rowspan="2" height="12" width="30">Вид<br />упа-<br />ковки</td>
                    <td colspan="2" height="12">Количество</td>   
                    <td rowspan="2" height="12" width="37">Масса<br />брутто</td>
                    <td rowspan="2" height="12" width="37">Количе-<br />ство<br />(масса<br />нетто)</td>
                    <td rowspan="2" height="12" width="60">Цена,<br />руб. коп.</td>
                    <td rowspan="2" height="12" width="54">Сумма без<br />учета НДС,<br />руб. коп.</td>
                    <td colspan="2" height="12">НДС</td>   
                    <td rowspan="2" height="12" width="57">Сумма с<br />учетом<br />НДС,<br />руб. коп.</td>
                </tr>

                <tr class="tr-center">

                    <td width="160">наименование, характеристика, сорт,<br />артикул товара</td>
                    <td width="55">код</div></td>
                    <td width="40">наиме-<br />нование</td>
                    <td width="40">код по<br />ОКЕИ</td>
                    <td width="34">в<br />одном<br />месте</td>
                    <td width="45">мест,<br />штук</td>
                    <td width="45">ставка, %</td>   
                    <td width="50">сумма,<br />руб. коп.</td>   

                </tr>

                <tr class="tr-center">
                    <td>1</td> 
                    <td>2</td> 
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>  
                    <td>7</td>    
                    <td>8</td>    
                    <td>9</td>
                    <td>10</td>      
                    <td>11</td>   
                    <td>12</td>    
                    <td>13</td>    
                    <td>14</td>    
                    <td>15</td>
                </tr>

                {{TORG12_ITEMS}}

            </thead>         
            

        </table>



        <table id="items" class="invoice_items" style="margin-top: -1px;" border="0" width="100%" cellpadding="0" cellspacing="0">
            <thead>
                <tr height="10">
                    <td style="text-align:right;border-bottom: 1px #fff solid; border-top: 1px #fff solid;border-left: 1px #fff solid;" width="386">Итого&nbsp;&nbsp;</td>
                    <td width="45">&nbsp;</td> 
                    <td width="37">&nbsp;</td>
                    <td width="37">X</td>
                    <td style="text-align:right" width="60">{{TORG_TOTAL_ARTICLES}}</td>
                    <td style="text-align:right" width="55">{{TORG_TOTAL_NUMBER_WITHOUT_NDS}}</td>
                    <td style="text-align:center" width="45">X</td>   
                    <td width="50">&nbsp;</td>  
                    <td style="text-align:right" width="57">{{TORG_TOTAL_NUMBER_WITH_NDS}}</td>
                </tr>

                <tr>
                    <td style="text-align:right;border-bottom: 1px #fff solid; border-top: 1px #fff solid;border-left: 1px #fff solid;">Всего по накладной&nbsp;&nbsp;</td>    
                    <td></td>    
                    <td></td>
                    <td>X</td>      
                    <td style="text-align:right">{{TORG_TOTAL_ARTICLES}}</td>   
                    <td style="text-align:right">{{TORG_TOTAL_NUMBER_WITHOUT_NDS}}</td>    
                    <td style="text-align:center">X</td>    
                    <td></td>    
                    <td style="text-align:right">{{TORG_TOTAL_NUMBER_WITH_NDS}}</td>
                </tr>
            </thead>
        </table>

        <br />

        <table width="100%" style="margin-top: 0px;margin-bottom: 0px;">
            <tr>
                <td align="center">
                    <div style="margin-left:110px;text-align:left;font-size:8pt;">Товарная накладная имеет приложение на  листах<br />и содержит  <div style="position: absolute; margin-top: 0px;margin-left: 70px;">{{TORG_TOTAL_ITEMS_WORDS}}</div> _______________________________________________________________________________ порядковых номеров записей
                        <div style="width:87%;font-size:6.5pt;text-align:center;">прописью</div>
                    </div>
                </td>
            </tr>            
        </table>

        <table width="100%" style="margin-left:82px;margin-top: 0px;margin-bottom: 0px;">
            <tr>
                <td valign="bottom" width="30%">

                    <div style="font-size:8pt;display:inline;">Всего мест</div>
                    <div style="display:inline;">___________________________</div>
                    <div style="width:180px;font-size:6.5pt;text-align:center;">прописью</div>

                </td>
                <td valign="top" style="padding-left:10px;">

                    <div style="display:inline;text-align:left;">Масса груза (нетто)</div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="margin-left:600px;border:2px solid;width:100px;margin-bottom:2px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <div style="margin-left:200px;width:250px;font-size:6.5pt;text-align:center;border-top:1px solid;">прописью</div>

                    <div style="display:inline;">Масса груза (брутто)</div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="margin-left:600px;border:2px solid;width:100px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <div style="margin-left:200px;width:250px;font-size:6.5pt;text-align:center;border-top:1px solid;">прописью</div>
                
                </td>
            </tr>            
        </table> 

        <table width="100%">  
            <tr>
                <td style="border-right:1px solid;width:45%;">
                    
                    <div style="display:inline;">Приложение (паспорта, сертификаты и т.п) на</div><div style="display:inline;">  _________________</div> <div style="display:inline;">листах</div></div>
                    
                    <div style="font-size:6.5pt;padding-left:270px;">прописью</div>
                    
                    <br />
                    
                    <div style="font-weight:bold;">Всего отпущено наименований<br />на сумму {{TORG_TOTAL_WORDS}}</div><br />
                    
                    <table width="100%" cellspacing="1">
                        <tr>
                            <td align="left">Отпуск разрешил</td>
                            <td width="100" style="padding:2px;">&nbsp;</td>
                            <td width="40" style="padding:2px;">&nbsp;</td>
                            <td width="100" style="text-align:center;padding:2px;">{{INVOICE_HEAD_SHORT}}</td>
                        </tr>
                        <tr>
                            <td align="left" style="font-size:6.5pt;">&nbsp;</td>
                            <td style="padding:0px;padding-left:3px;padding-right:3px;"><div id="dolznost1_name" class="editable_sys" edtype="text" style="border-top:1px solid;font-size:6.5pt;text-align:center;"><div style="position: absolute; margin-top: -15px;">Генеральный директор</div>должность</div></td>
                            <td style="padding:0px;padding-left:3px;padding-right:3px;"><div id="podpis1_name" class="editable_sys" edtype="text" style="border-top:1px solid;font-size:6.5pt;text-align:center;">подпись</div>
                                <img src="{{INVOICE_SIGN}}" style="position:absolute; width: 38mm;margin-top: -45px;margin-left:-20px;z-index:1090;"/>
                            </td>
                            <td style="padding:0px;padding-left:3px;padding-right:3px;"><div id="rashifr1_name" class="editable_sys" edtype="text" style="border-top:1px solid;font-size:6.5pt;text-align:center;">расшифровка подписи</div></td>
                        </tr>   
                    
                        <tr>
                            <td align="left" colspan="2">Главный (старший бухгалтер)</td>        
                            <td width="40" style="padding:2px;">&nbsp;</td>
                            <td width="100" style="text-align:center;padding:2px;">{{INVOICE_HEAD_SHORT}}</td>
                        </tr>
                        <tr>
                            <td align="left" colspan="2" style="font-size:6.5pt;">&nbsp;</td>        
                            <td style="padding:0px;padding-left:3px;padding-right:3px;"><div style="border-top:1px solid;font-size:6.5pt;text-align:center;">подпись</div>
                                <img src="{{INVOICE_SIGN}}" style="position:absolute; width: 38mm;margin-top: -45px;margin-left:-20px;z-index:1090;"/></td>
                            <td style="padding:0px;padding-left:3px;padding-right:3px;"><div style="border-top:1px solid;font-size:6.5pt;text-align:center;">расшифровка подписи</div></td>
                        </tr>      
                    
                        <tr>
                            <td width="100" align="left">Отпуск груза произвел</td>
                            <td width="100" style="padding:2px;">&nbsp;</td>
                            <td width="40" style="padding:2px;">&nbsp;</td>
                            <td width="100" style="text-align:center;padding:2px;"><div id="otpus_pro_mile" class="editable" edtype="text">{{INVOICE_HEAD_SHORT}}</div></td>
                        </tr>
                        <tr>
                            <td align="left" style="font-size:6.5pt;">&nbsp;</td>
                            <td style="padding:0px;padding-left:3px;padding-right:3px;"><div id="dolznost3_name" class="editable_sys" edtype="text" style="border-top:1px solid;font-size:6.5pt;text-align:center;"><div style="position: absolute; margin-top: -15px;">Генеральный директор</div>должность</div></td>
                            <td style="padding:0px;padding-left:3px;padding-right:3px;"><div id="podpis3_name" class="editable_sys" edtype="text" style="border-top:1px solid;font-size:6.5pt;text-align:center;">подпись</div>
                                <img src="{{INVOICE_SIGN}}" style="position:absolute; width: 38mm;margin-top: -45px;margin-left:-20px;z-index:1090;"/>
                            </td>
                            <td style="padding:0px;padding-left:3px;padding-right:3px;"><div id="rashifr3_name" class="editable_sys" edtype="text" style="border-top:1px solid;font-size:6.5pt;text-align:center;">расшифровка подписи</div></td>
                        </tr>      
                    </table> 

                    <img src="{{INVOICE_SEAL}}" style="position:absolute; width: 38mm;margin-top: -100px;margin-left:40px;z-index:1090;" />
                    
                    <table width="100%">
                        <tr>
                            <td width="50%" align="center"><div style="font-size:8pt;text-align:center;">М.П.</div></td>
                            <td><div style="font-size:8pt;text-align:center;">{{INVOICE_DATE}} года</div></td>
                        </tr>
                    </table>     
                
                </td>

                <td style="width:45%;padding-left:5px;vertical-align:top;"><br />
                    <div id="po_dover" class="editable_sys" edtype="text">По доверенности №&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; от</div>
                    <div id="dover_vid" class="editable_sys" edtype="text" style="display:inline;">выданной</div>&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;width:300px;border-bottom:1px solid;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>        
                    <div id="kem_name" class="editable_sys" edtype="text" style="font-size:6.5pt;padding-left:150px;">кем, кому (организация, должность, фамилия, и.о.)</div>
                    <div style="font-size:6.5pt;"><br /><br /></div>

                    <div style="border-bottom:1px solid;width:100%;">&nbsp;</div>
                    <br />
                    <table width="100%" cellspacing="1">
                        <tr>
                            <td align="left"><div id="gruz_prin_name" class="editable_sys" edtype="text">Груз принял</div></td>
                            <td width="80" style="padding:2px;">&nbsp;</td>
                            <td width="80" style="padding:2px;">&nbsp;</td>
                            <td width="80" style="text-align:center;padding:2px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="left" style="font-size:6.5pt;">&nbsp;</td>
                            <td style="padding:0px;padding-left:3px;padding-right:3px;"><div style="border-top:1px solid;font-size:6.5pt;text-align:center;">должность</div></td>
                            <td style="padding:0px;padding-left:3px;padding-right:3px;"><div style="border-top:1px solid;font-size:6.5pt;text-align:center;">подпись</div></td>
                            <td style="padding:0px;padding-left:3px;padding-right:3px;"><div style="border-top:1px solid;font-size:6.5pt;text-align:center;">расшифровка подписи</div></td>
                        </tr>
                        <tr>
                            <td rowspan="2" align="left" valign="top">Груз получил<br />грузополучатель</td>
                            <td width="80" style="padding:2px;">&nbsp;</td>
                            <td width="80" style="padding:2px;">&nbsp;</td>
                            <td width="80" style="text-align:center;padding:2px;">&nbsp;</td>
                        </tr>
                        <tr> 
                            <td style="padding:0px;padding-left:3px;padding-right:3px;"><div style="border-top:1px solid;font-size:6.5pt;text-align:center;">должность</div></td>
                            <td style="padding:0px;padding-left:3px;padding-right:3px;"><div style="border-top:1px solid;font-size:6.5pt;text-align:center;">подпись</div></td>
                            <td style="padding:0px;padding-left:3px;padding-right:3px;"><div style="border-top:1px solid;font-size:6.5pt;text-align:center;">расшифровка подписи</div></td>
                        </tr>      
                    </table> 

                    <table width="100%">
                        <tr>
                            <td width="50%" align="center"><div style="font-size:8pt;text-align:center;">М.П.</div></td>
                            <td><div style="font-size:8pt;text-align:center;">''&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;''&nbsp;______________ 20&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;года</div></td>
                        </tr>
                    </table>

                </td>        
            </tr>
        </table>
        
    </body>
</html>
